* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --maincolor: #282e32;
    --maincolor2: #ab722c;
    --textcolor: #ffff;
    --p-font: 0.9rem;
}

*::selection {
    background: var(--maincolor2);
    color: #ffff;
}

body {
    color: var(--textcolor);
    background: linear-gradient(
        to bottom,
        var(--maincolor) 25%,
        var(--maincolor2) 50%,
        var(--maincolor) 75%,
        var(--maincolor) 100%
        );
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: var(--maincolor2);
    opacity: 0.98;
}
.logo {
    color: var(--maincolor);
    font-weight: 200;
    font-size: 2.2rem;
}
.logo img {
    width: 30px;
    height: auto;
    align-items: center;
}

/*----------NAVIGATION BAR----------*/
.navbar {
    display: flex;
}
.navbar a {
    color: var(--textcolor);
    font-size: 1.1rem;
    padding: 10px 30px;
    font-weight: 200;
}
.navbar a:hover {
    color: var(--maincolor);
    transition: .3s;
}

/*----------MENU ICON---------*/
#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section {
    padding: 70px 15%;
}

/*----------HOME PAGE INTERFACE----------*/
.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}
.home-pic img {
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1 {
    font-size: 5rem;
    font-weight: 200;
    color: var(--textcolor)
}
.home-text h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 2rem 0 2rem;
    color: var(--textcolor)
}

/*----------ABOUT US BUTTON----------*/
.abt {
    display: inline-block;
    padding: 20px 30px;
    background: var(--maincolor2);
    color: #ffff;
    border-radius: 2rem;
    transition: all .2s ease;
}
.abt:hover {
    transform: scale(1.2) translateZ(5px);
    transition: .2s;
    color: var(--maincolor);
}

/*----------MAIN MENU----------*/
.mainmenu {
    text-align: center;
}
.mainmenu h1{
    color: var(--textcolor);
    font-size: 3rem;
    font-weight: 200;
}
.mainmenu h2{
    color: var(--textcolor);
    font-size: 1.5rem;
    font-weight: 200;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    align-items: center;

/*----------MENU ITEMS----------*/
}
.box {
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--maincolor2);
    padding: 20px;
    border-radius: 1.5rem;
    text-align: center;
    transition: all .3s ease;
    margin-bottom: -20%;
}
.box:hover {
    transform: scale(1.1) translateZ(5px);
    transition: .3s;
}
.boxpic {
    height: 100%;
}
.boxpic img {
    width: 100%;
    height: 100%;
}
.box h2 {
    font-size: 1.5rem;
    color: var(--textcolor);
    font-weight: 200;
    margin: 10px;
    margin-bottom: -1%;
}

/*----------FULL MENU----------*/
.FullM {
    text-align: center;
}
.fullmenu {
    color: var(--textcolor);
    font-size: 1.5rem;
    font-weight: 200;
}
.fm {
    padding: 20px 40px;
    background: var(--maincolor2);
    color: #ffff;
    border-radius: 2rem;
    transition: all .2s ease;
    display: inline-block;
    text-decoration: none;
    align-items: center;
}
.fm:hover {
    transform: scale(1.1) translateZ(5px);
    transition: .2s;
    color: var(--maincolor);
}

/*----------FEEDBACK---------*/
.ftitle {
    text-align: center;
}
.ftitle h1{
    color: var(--textcolor);
    font-size: 3rem;
    font-weight: 200;
}
.feedback-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    align-items: center;
}
.fb {
    text-align: center;
    padding: 20px 30px;
    color: var(--textcolor);
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: -15px;
}
.fb h2 {
    font-size: 1.8rem;
    color: var(--textcolor);
    font-weight: 200;
    margin: 10px;
    margin-bottom: -1%;
}
.fb p {
    font-size: 1.1rem;
    color: var(--textcolor);
    font-weight: 200;
    margin: 20px;
    margin-bottom: -10%;
}
.fb img {
    max-width: 100%;
    height: auto;
}

/*----------FOOTER---------*/
footer {
    background-color: var(--maincolor2);
    padding: 10px 20px;    
}
.footerbox {
    padding: 10px;
}

.footerboxmain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex-basis: 20%;
}

.column h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--maincolor);
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    display: flex;
    align-items: center;
    font-weight: 200;
}

.column ul li a {
    margin-right: 15px;
}

/*----------JAVASCRIPT---------*/
@media (max-width: 1560px) {
   header {
    padding: 15px 40px;
   }
   :root {
    --big-font: 3.5rem;
    --h2-font: 2rem;
   } 
}

@media (max-width: 1140px) {
    section {
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color: var(--textcolor);
    }
    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--maincolor2);
        transition: .3s;
    }
    header .navbar.active {
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .column {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px 16px;
    }
    .home {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .menu {
        grid-template-columns: 1fr;
        text-align: center;
    }
    section {
        padding: 100px 7%;
    }
}

@media (max-width: 575px) {
    .column {
        width: 100%;
    }
}