* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Lilita One", sans-serif;
}

:root {
    --maincolor: #282e32;
    --maincolor2: #ab722c;
    --textcolor: #ffff;
}

body {
    background-color: var(--maincolor);
}

.foodmenuheading {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 200;
}

.foodcategory-header{
    text-align: center;
    color: var(--textcolor);
    font-size: 35px;
}

.foodnavbox {
    margin: 0 auto;
    max-width: 400px; /* Adjust max-width as per your design */
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodnavbox ul {
    display: flex;
    align-items: center;
}

.foodnavbox ul li {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    border: 2px solid #333;
    padding: 20px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 15px; /* Adjust the value to control the curvature */
    transition: transform 0.2s;
}

.foodnavbox ul li:hover {
    transform: scale(1.1); /* Adjust the scale value for the hover effect */
}

.foodnav ul {
    display: flex;
    align-items: center;
}

.foodnav ul li:hover {
    color: gray;
}

.foodmenu .foodcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    padding: 100px;
}

.foodmenu .foodcontainer .foodbox {
    padding: 2.5rem;
    background: var(--maincolor2);
    border-radius: 1rem;
    box-shadow: var(--box-shadow); /* UNKNOWN */
    position: relative;
    overflow: hidden;
    text-align: left;
}


.foodmenu .foodcontainer .foodbox .foodcontent {
    display: flex;
    align-items: center; 
}

.foodmenu .foodcontainer .foodbox .foodcontent img {
    max-width: 200px; 
    height: auto;
    margin-right: 1rem; 
}

.foodmenu .foodcontainer .foodbox .foodcontent .info {
    flex-grow: 1; 
}

.foodmenu .foodcontainer .foodbox .foodcontent .info h3 {
    margin: 0;
}

.foodmenu .foodcontainer .foodbox .foodcontent .info .prices {
    display: flex;
    flex-direction: column;
}

.foodmenu .foodcontainer .foodbox .foodcontent .info .prices span.boneless {
    margin-top: 1rem;
    font-size: 19px;
    font-weight: bold;
}

.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}

.return-to-top img {
    width: 50px; 
    height: auto;
}

.return-to-top.show {
    display: block;
}

.info h3{
    color: var(--textcolor);
    font-weight: 200;
}

.prices {
    color: var(--textcolor);
    font-weight: 200;
}